.imagecropper-container .MuiPaper-root.MuiDialog-paper {
  /* width: 500px;
    height: 500px; */
  width: 100%;
  height: 100%;
}
/* .imagecropper-container .reactEasyCrop_Container { */
/* width: 100%;
    height: 90%; */
/* } */
/* .imagecropper-container .reactEasyCrop_Contain { */
/* width: 100%;
    height: 100%; */
/* } */
.imagecropper-container .crop-btns {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.imagecropper-container .crop-save {
  border: 0 !important;
  background-color: #fe6a49 !important;
  color: #fff !important;
  font-family: var(--font-roboto) !important;
  text-transform: capitalize !important;
}
.imagecropper-container .crop-cancel {
  border: 1px solid #fe6a49;
  background-color: #fff !important;
  color: #fe6a49 !important;
  font-family: var(--font-roboto) !important;
  text-transform: capitalize !important;
}
.imagecropper-container .crop-cancel:hover {
  border: 1px solid #fe6a49;
}

.gallery-pop-images .MuiPaper-root {
  width: 70%;
  max-width: none !important;
}

.gallery-images {
  -webkit-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 21px -8px rgba(0, 0, 0, 0.75);
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.gallery-images:hover {
  -webkit-box-shadow: 0px 0px 48px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 48px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 48px -8px rgba(0, 0, 0, 0.75);
}

.jodit-status-bar-link {
  display: none;
}